 body
       {
       	background-image: url('blur.jpg');
       	background-size: cover;

       }
       a
       {
       	color: black;
       }
       .form-container
{
	background-size: cover;
	background-color: white;
	border-color: skyblue;
	border-radius: 10px;
	
  padding-top: 0;
	box-shadow: 0px 0px 40px 0px #000;
}

.header
{
  background-color: #5F9EA0;
  padding: 10px;
  margin-top: 0;
  margin: 0;
}
.mycontainer
{

	position: absolute;
	top: 15vh;
  display: none;
    }
    #buttonlogin
    {
    	position: relative;
    	left: 40%;
    }
    .input-field
    {
    	border: 0;
    	background-color: transparent;
    	
    	border-bottom: 1px solid black;
    	
    }
    
    .forgot-password
    {
    	border: 1px solid black;
    	border-radius: 20px;
    	width: 200px;
    	padding-top: 5px;
    	padding-bottom: 5px;
    	margin-left: 40px;
    }

    #cut
    {
      padding-left: 180px;
    }

    #button
    {
      margin-top: 200px;
    }
   